<h1 class ="information">登録情報</h1>
<h2><%= @user.name %>のページ</h2>
<p>メールアドレス: <%= @user.email %></p>
<p>プロフィール</p>
<p id="notice"><%= notice %></p>
<p>
  <strong>Image:</strong>
  <%= image_tag @user.image.url %>
</p>
<p>リンク先</p>
<%= link_to '一覧画面に戻る', pictures_path %>
<%= link_to 'お気に入り一覧', bookmark_users_path %>
<%= link_to '新しく投稿する', new_picture_path %>
